# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# normal
.git
.vscode
.vs/
build/
bin/
Release/
Debug/
ipch/

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.db
*.aps
*.opendb

# Executables
*.exe
*.out
*.app
